:root{
    --primary-color: #169f8d;
    --secundary-color: #152f83;

    --primary-color-transparent: rgba(22,159,141,.5);
    --secundary-color-transparent: rgba(21,47,131,.75);
    --black-transparent: rgba(0,0,0,0.5);
}

.semi-transparent-white{background-color: rgba(255, 255, 255, 0.7) !important;}

.blur{backdrop-filter: blur(10px);}
.bg-fixed{background-attachment: fixed;}

.padding-1{padding: 1rem;}
.padding-2{padding: 2rem;}

.radius-1{border-radius: 1rem;}

.navbar{
    /* background-color: rgba(255, 255, 255, var(--opacity)); */
    background-color: white;
    position: fixed;
    min-height: 5rem;
    width: 100%;
}

.navbar-item, .navbar-link{
    color: var(--secundary-color) !important;
    font-size: 1.1rem;
}

.big-title{
    font-size: 4rem;
    font-weight: bold;
}

.has-utl-home-background{
    background-image: linear-gradient(var(--primary-color-transparent), var(--secundary-color-transparent)), url("https://cdn.milenio.com/uploads/media/2022/03/05/universidad-tecnologica-de-leon-utl.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
}

.has-utl-one-background{
    background-image: linear-gradient(var(--black-transparent), var(--black-transparent)), url("https://www.elsoldeleon.com.mx/local/yarovs-utl-clases/ALTERNATES/LANDSCAPE_1140/UTL-clases");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
}
/* 
.has-bg-01{
    background-image: url('https://i.ytimg.com/vi/BtWc_sa5leo/maxresdefault.jpg');
}
 */
.changerText{
    transition: 2s;
    opacity: 0;
}
.visible{
    opacity: 1;
}

.title-div{display: flex; align-content: center;flex-direction: column-reverse;flex-wrap: wrap;}
.is-title{
    width: fit-content;
    padding: .5rem 2rem;
    transform: translateY(-7rem);
    background-color: white;
    position: relative;
    border-radius: 2rem 2rem 0 0;
    margin-bottom: -5rem;
}

.is-title::before {
    content: "";
    width: 2.7rem;
    height: 2.7rem;
    background-color: transparent;
    position: absolute;
    bottom: 0;
    left: -1.3rem;
    border-radius: 50%;
    transform: translateX(-50%);
    clip-path: polygon(0% 100%, 100% 100%, 100% 0%, 0% 0%);
    box-shadow: 1rem 1rem white;
}
  
  .is-title::after {
    content: "";
    width: 2.7rem;
    height: 2.7rem;
    background-color: transparent;
    position: absolute;
    bottom: 0;
    right:-4rem;
    border-radius: 50%;
    transform: translateX(-50%);
    clip-path: polygon(0% 100%, 100% 100%, 100% 0%, 0% 0%);
    box-shadow: -1rem 1rem white;
}

.is-utl a{
    background-color: var(--bg-color);
    display: block;
    padding: 1rem;
    margin: 0.5rem;
    border-radius: 0.3rem;
}

.footer-links{list-style: none !important;}
.footer-links a{color: var(--primary-color) !important;}

.banner-footer{
    background: linear-gradient(transparent, var(--primary-color-transparent));
    min-height: 7rem;
}

