{% extends "layout.html" %}
{% block content %}
<div class="hero is-dark is-fullheight has-aulav-bg">
  <div class="hero-body">
    <div class="container">
      <div class="columns">
        <div class="column">
          <h1 class="big-title">Aula virtual</h1>
          <br>
          <p>
            Nuestro objetivo es brindar asesoría para producir recursos y servicios educativos digitales, a través de estrategias tecnológicas, que contribuyen al aprendizaje y mejora continua para la práctica docente en las diferentes modalidades que se imparten en la comunidad educativa.
          </p>
          <br>
          <a class="button is-primary" href="http://aulaut.utleon.edu.mx">Ir a Aula virtual</a>
        </div>
        <div class="column">
          <img class="utl-image" src="https://i.ytimg.com/vi/foQA-8pyoPg/maxresdefault.jpg" alt="Imagen">
        </div>
      </div>
    </div>
  </div>
</div>

{%endblock%}