{% extends "layout.html" %}
{% block content %}
<div class="hero is-dark is-fullheight has-utl-one-background">
    <div class="hero-body">
        <h1 class="hidden big-title hleft">Salud Integral</h1>
    </div>
</div>

<div class="hero is-fullheight is-white">
    <div class="card" style="margin-top: 3rem">
        <div class="content">
            <div class="columns">
                <div class="column is-6 padding-2">
                    <div class="is-utl">
                        <div class="hidden card hleft">
                            <div class="card-content has-text-centered">
                                <h1 class="title" style="color:var(--primary-color)">Examen Médico</h1>
                            </div>
                        </div>

                        <div class="hidden card hleft">
                            <div class="card-content has-text-centered">
                                <h1 class="title" style="color:var(--primary-color)">Atención Médica</h1>
                            </div>
                        </div>

                        <div class="hidden card hleft">
                            <div class="card-content has-text-centered">
                                <h1 class="title" style="color:var(--primary-color)">Orientación Médica Preventiva</h1>
                            </div>
                        </div>

                        <div class="hidden card hleft">
                            <div class="card-content has-text-centered">
                                <h1 class="title" style="color:var(--primary-color)">Apoyo en Eventos Especiales</h1>
                            </div>
                        </div>
                    </div>
                    
                </div>
                <div class="column is-6 padding-2">
                    <div class="hidden card hright">
                        <div class="card-content">
                            <div class="content">

                                <h2 class="title is-4">Horario</h2>
                                <p>7:00 a 21:30 de Lunes a viernes</p>
                                <p>8:00 a 13:00 los sábados</p>

                                <h2 class="title is-4 mt-4">Contacto</h2>
                                <p>Dr. Martín Gustavo Murillo Almaguer: Jefe De Departamento de Salud Integral</p>
                                <p>Enfermeras turno matutino:</p>
                                <ul>
                                    <li>Valeria Abigail Ramírez Amaro (Campus Central)</li>
                                    <li>Paola Guerrero Serna (Campus II)</li>
                                </ul>
                                
                                <p>Enfermero/a turno vespertino:</p>
                                <ul>
                                    <li>Mónica Regina Guerrero Gómez (Campus Central)</li>
                                    <li>Arturo Medina Torres (Campus II)</li>
                                </ul>

                                <p>Psicólogo Laboral UTL: César Mariano González Barrera</p>
                                <p>Horario: lunes a viernes de 7:00 a 21:00 hrs (Campus Central), 7:00 a 20:30 hrs (Campus II). Y sábado de 08:00 a 13:00 hrs.</p>
                                <p>Ubicación: Edificio CVD Planta Baja</p>
                                <p>Extensión: 325 (Campus Central) y 175 (Campus II)</p>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock content %}