{% extends "layout.html" %}
{% block content %}
<div class="hero is-dark is-fullheight has-utl-one-background">
    <div class="hero-body">
        <h1 class="hidden big-title hleft">Centro de Informacion</h1>
    </div>

    <div class="hero-foot banner-footer">
        <div class="container">
            <a href="http://centrodeinformacion.utleon.edu.mx" class="title">Ir a micrositio</a>
        </div>
    </div>
</div>

<div class="hero is-fullheight is-white">
    <div class="card" style="margin-top: 3rem">
        <div class="content">
            <div class="columns">
                <div class="column is-6 padding-2">
                    <img class="hidden utl-image hleft" src="https://img.freepik.com/fotos-premium/companeros-ayudandose-otros_13339-262500.jpg?size=626&ext=jpg" alt="">
                </div>
                <div class="column is-6 padding-2">
                    <h1 class="hidden transitor title hright">¿Qué hacemos?</h1> <hr>
                    <p class="hidden transitor hright">Es el área donde la comunidad académica encontrarán los recursos de información en diferentes formatos (libros, revistas, cd, dvd etc.)que apoyan los planes de estudio de cada programa educativo.</p>
                    <div class="hidden columns hright">
                        <div class="column is-6">
                            <h1 class="title">Servicios</h1>
                            <ul>
                                <li>Préstamos a domicilio</li>
                                <li>Consulta en sala</li>
                                <li>Cubículos de estudio</li>
                                <li>Laboratorio de internet</li>
                                <li>Hemeroteca</li>
                                <li>Videoteca</li>
                                <li>Reserva de materiales</li>
                                <li>Biblioteca Digital</li>
                            </ul>
                        </div>
                        <div class="column is-6">
                            <div class="card">
                                <div class="card-content">
                                <div class="content">

                                    <h2 class="title is-4">Horario</h2>
                                    <p>7:00 a 21:30 de Lunes a viernes</p>
                                    <p>8:00 a 13:00 los sábados</p>

                                    <h2 class="title is-4 mt-4">Contacto</h2>
                                    <p>Maria Anel Romero Torres</p>
                                    <p>Jefa del Departamento de Centro de Información</p>
                                    <p>477 710020 Ext.231</p>
                                    <p><a href="mailto:aromero@utleon.edu.mx">aromero@utleon.edu.mx</a></p>

                                </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock content %}