<footer>
    <div class="hero is-white is-halfheight">
        <div class="hero-body padding">
            <div class="content">
                <div class="columns">
                    <div class="column">
                        <ul class="footer-links">
                            <li><a href="">Eventos y avisos</a></li>
                            <li><a href="">Calendario Escolar</a></li>
                            <li><a href="">Imagen institucional</a></li>
                        </ul>
                    </div>

                    <div class="column">
                        <div class="footer-links">
                            <a href="">UTL Transparente</a>
                        </div>
                    </div>

                    <div class="column">
                        <h1>Blvd. Universidad Tecnológica #225 Col. San Carlos</h1>
                        <h4>CP. 37670 León, Gto. Mex. l Tel (477) 7 10 00 20</h4>
                    </div>

                    <div class="column">
                        <ul class="footer-links">
                            <li><h1>Siguenos en nuestras redes sociales</h1></li>
                            <li><a href="">Facebook</a></li>
                            <li><a href="">Whatsapp</a></li>
                            <li><a href="">Instagram</a></li>
                            <li><a href="">Youtube</a></li>
                            <li><a href="">Twitter</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>

        <div class="hero-foot">
            <img class="image" src="../static/img/footer.png" alt="">
        </div>
    </div>
</footer>