<header>
    <nav class="navbar" role="navigation" aria-label="main navigation"> 
        <div class="navbar-brand">
            <div class="navbar-item">
                <a href="/"><img src="../static/img/logo2.png" alt=""></a>
            </div>
            <div class="navbar-item has-dropdown is-hoverable">
                <a class="navbar-link">Oferta Educativa</a>
                <div class="navbar-dropdown">
                    <a class="navbar-item">Catálogo de carreras TSU</a>
                    <a class="navbar-item">Catálogo de carreras Ingeniería/Licenciatura</a>
                </div>
            </div>

            <div class="navbar-item has-dropdown is-hoverable">
                <a class="navbar-link">Admisiones</a>
                <div class="navbar-dropdown">
                    <a class="navbar-item">Proceso de Admisión</a>
                    <a class="navbar-item">Requisitos de Admisión</a>
                    <a class="navbar-item">Fechas y plazos</a>
                    <a class="navbar-item">Costos y financiamiento</a>
                    <a class="navbar-item">Formularios y formatos de solicitud</a>
                    <a class="navbar-item">Preguntas frecuentes</a>
                </div>
            </div>

            <div class="navbar-item has-dropdown is-hoverable">
                <a class="navbar-link">Servicios Universitarios</a>
                <div class="navbar-dropdown">
                    <a class="navbar-item">Centro de Impresión</a>
                    <a class="navbar-item">Cultura y Deporte</a>
                    <a class="navbar-item">Laboratorios</a>
                    <a class="navbar-item">Servicios Informáticos</a>
                    <a class="navbar-item">Becas y Ayudas</a>
                    <a class="navbar-item">Biblioteca</a>
                </div>
            </div>

            <div class="navbar-item has-dropdown is-hoverable">
                <a class="navbar-link">Conoce la UTL</a>
                <div class="navbar-dropdown">
                    <a class="navbar-item">Hisotria</a>
                    <a class="navbar-item">Filosofía</a>
                    <a class="navbar-item">Campus y Ubicación</a>
                </div>
            </div>

            <div class="navbar-item has-dropdown is-hoverable">
                <a class="navbar-link">Comunidad</a>
                <div class="navbar-dropdown">
                    <a href="https://sito.utleon.edu.mx" class="navbar-item">SITO</a>
                    <a href="http://aulaut.utleon.edu.mx" class="navbar-item">Aula Virtual</a>
                    <a class="navbar-item">Correo Institucional</a>
                </div>
            </div>

            <div class="navbar-item has-dropdown is-hoverable">
                <a class="navbar-link">Contáctanos</a>
                <div class="navbar-dropdown">
                    <a class="navbar-item">Información de Contacto</a>
                    <a class="navbar-item">Formulario de Contacto</a>
                    <a class="navbar-item">Preguntas Frecuentes</a>
                </div>
            </div>

            <div class="navbar-end ml-auto">
                <div class="navbar-item">
                    <a class="button is-primary">Calendario Escolar</a>
                </div>
            </div>
        </div>
    </nav>
</header>

<script>
// const root = document.documentElement;

// function actualizarVariableDeScroll() {
//   const valorDeScroll = (1 / 300) * window.scrollY;
//   root.style.setProperty('--opacity', valorDeScroll);
// }

// window.addEventListener('scroll', actualizarVariableDeScroll);
</script>