<header>
    <nav class="navbar" role="navigation" aria-label="main navigation"> 
        <div class="navbar-brand">
            <div class="navbar-item">
                <a href="/"><img src="../static/img/logo2.png" alt=""></a>
            </div>
            <div class="navbar-item has-dropdown is-hoverable">
                <a class="navbar-link" href="/oferta">Oferta Educativa</a>
                <div class="navbar-dropdown">
                    <a href="/carreras/tsu" class="navbar-item">Catálogo de carreras TSU</a>
                    <a href="/carreras/ingenieria" class="navbar-item">Catálogo de carreras Ingeniería/Licenciatura</a>
                </div>
            </div>
            <div class="navbar-item has-dropdown is-hoverable">
                <a class="navbar-link">Servicios Universitarios</a>
                <div class="navbar-dropdown">
                    <a href="/centroinfo" class="navbar-item">Centro de Informacion</a>
                    <a href="/centromedico" class="navbar-item">Salud Integral</a>
                    <a href="https://utleon.edu.mx/public_html/servicios-universitarios/servicios-informaticos/altas-de-internet/Servicios-Politicas-DSI-2022.pdf" class="navbar-item">Altas de internet</a>
                    <a href="/becas" class="navbar-item">Becas y Ayudas</a>
                    <a href="http://sac.utleon.edu.mx" class="navbar-item">Centro de Idiomas</a>
                </div>
            </div>

            <div class="navbar-item has-dropdown is-hoverable">
                <a class="navbar-link">Conoce la UTL</a>
                <div class="navbar-dropdown">
                    <a class="navbar-item">Hisotria</a>
                    <a class="navbar-item">Filosofía</a>
                    <a class="navbar-item">Campus y Ubicación</a>
                </div>
            </div>

            <div class="navbar-item has-dropdown is-hoverable">
                <a class="navbar-link">Comunidad</a>
                <div class="navbar-dropdown">
                    <a href="https://sito.utleon.edu.mx" class="navbar-item">SITO</a>
                    <a href="/aulavirtual" class="navbar-item">Aula Virtual</a>
                    <a class="navbar-item">Correo Institucional</a>
                </div>
            </div>

            <div class="navbar-item has-dropdown is-hoverable">
                <a class="navbar-link">Contáctanos</a>
                <div class="navbar-dropdown">
                    <a class="navbar-item">Información de Contacto</a>
                    <a class="navbar-item">Formulario de Contacto</a>
                    <a class="navbar-item">Preguntas Frecuentes</a>
                </div>
            </div>

            <div class="navbar-end ml-auto">
                <div class="navbar-item">
                    <a href="https://utleon.edu.mx/resource/img/CALENDARIO%20LEÓN.jpg" class="button is-primary">Calendario Escolar</a>
                </div>
            </div>
        </div>
    </nav>
</header>

<script>
// const root = document.documentElement;

// function actualizarVariableDeScroll() {
//   const valorDeScroll = (1 / 300) * window.scrollY;
//   root.style.setProperty('--opacity', valorDeScroll);
// }

// window.addEventListener('scroll', actualizarVariableDeScroll);
</script>