<!DOCTYPE html>
<html lang="en">
    <head>
        <title>{{page_name}}</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.4/css/bulma.min.css">
        <link href='https://fonts.googleapis.com/css?family=Montserrat' rel='stylesheet'>
        <link rel="stylesheet" href="../static/css/style.css">
        <link rel="stylesheet" href="../static/css/observer.css">
        <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@24,400,0,0" />
    </head>
    <body>
    {% if pagestyle == 'normal' %}
        {% include "header.html" %}
        {%block content%}
        {%endblock%}
    {% else %}
        {%block contenido%}
        {%endblock%}
    {% endif %}
    {% include "footer.html" %}
    </body>

    <script>
        const observer = new IntersectionObserver((entries) => {
        entries.forEach((entry) => {
            const lastClass = entry.target.classList.item(entry.target.classList.length - 1);
            if (entry.isIntersecting) {
                if(lastClass == 'hright'){
                    console.log('Es hright');
                    entry.target.classList.remove('hright');
                    entry.target.classList.add('sright');
                }
                else if(lastClass == 'hleft'){
                    console.log('Es hleft');
                    entry.target.classList.remove('hleft');
                    entry.target.classList.add('sleft');
                }
                else if(lastClass == 'hbot'){
                    console.log('Es hbot');
                    entry.target.classList.remove('hbot');
                    entry.target.classList.add('sbot');
                }
                else if(lastClass == 'htop'){
                    console.log('Es htop');
                    entry.target.classList.remove('htop');
                    entry.target.classList.add('stop');
                }
            } else {
                if(lastClass == 'sright'){
                    console.log('Es sright');
                    entry.target.classList.remove('sright');
                    entry.target.classList.add('hright');
                }
                else if(lastClass == 'sleft'){
                    console.log('Es sleft');
                    entry.target.classList.remove('sleft');
                    entry.target.classList.add('hleft');
                }
                else if(lastClass == 'sbot'){
                    console.log('Es sbot');
                    entry.target.classList.remove('sbot');
                    entry.target.classList.add('hbot');
                }
                else if(lastClass == 'stop'){
                    console.log('Es stop');
                    entry.target.classList.remove('stop');
                    entry.target.classList.add('htop');
                }
            }
        });
    });

    const hiddenElements = document.querySelectorAll('.hidden');
    hiddenElements.forEach((el) => observer.observe(el));
    </script>
</html>