{% extends "layout.html" %}
{% block content %}
<div class="hero is-dark is-fullheight has-utl-one-background">
    <div class="hero-body">
        <h1 class="hidden big-title hleft">¡Forma parte de la UTL!</h1>
    </div>

    <div class="hero-foot banner-footer">
        <div class="container">
            <div class="columns is-utl">
                <div class="column is-6">
                    <a href=""><h1 class="hidden title htop">Catálogo TSU</h1></a>
                </div>

                <div class="column is-6">
                    <a href=""><h1 class="hidden title htop">Catálogo Ingeniería/Licenciatura</h1></a>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="hero is-fullheight is-white">
    <div class="card">
        <div class="content">
            <div class="columns">
                <div class="column is-6 has-bg-01"></div>
                <div class="column is-6">
                    <h1 class="title">Nuestra comunidad</h1> <hr>
                    <p>Nuestra comunidad universitaria es un vibrante y diverso conjunto de individuos unidos por una pasión compartida por el aprendizaje, la innovación y el crecimiento personal. En nuestra universidad, fomentamos un ambiente inclusivo y colaborativo donde estudiantes, profesores, investigadores y personal administrativo trabajan juntos para alcanzar nuevas alturas en la búsqueda del conocimiento. Nos enorgullece ser un crisol de culturas, ideas y perspectivas que enriquecen constantemente nuestra comunidad, inspirándonos a desafiar los límites de la educación superior y a preparar a nuestros estudiantes para un futuro lleno de éxitos y oportunidades.</p>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock content %}